@{
    ViewData["Title"] = "Access Denied....";
}
<h1 class="text-danger">Access Denied</h1>
<p>You do not have permission to access this page</p>
<a class="mt-2" asp-controller="Account" asp-action="Index">Go Back</a>