@using CRBS.ViewModels
@model ChangePasswordViewModel
@{
    ViewData["Title"] = "Change Password";
}



<div class="container">

    <div class="row d-flex justify-content-center">
        <div class="col-lg-8 col-md-12 col-sm-12 col-12 p-3 bg-body-tertiary">
            @if (ViewData["Error"] != null)
            {
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    <strong>Error!</strong> @ViewData["Error"]
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            }
            <center> <h4 class="p-2 bg-body-tertiary">Change Password</h4> </center>
            <form method="post" class="mt-5 m-2">
                <label asp-for="CurrentPassword" class="form-label">Current Password</label>
                <input type="text" class="form-control" asp-for="CurrentPassword" />
                <span class="text-danger" asp-validation-for="CurrentPassword"></span> <br />

                <label asp-for="NewPassword" class="form-label">New Password</label>
                <input type="text" class="form-control" asp-for="NewPassword" />
                <span class="text-danger" asp-validation-for="NewPassword"></span> <br />

                <label asp-for="ConfirmNewPassword" class="form-label">Confirm New Password</label>
                <input type="text" class="form-control" asp-for="ConfirmNewPassword" />
                <span class="text-danger" asp-validation-for="ConfirmNewPassword"></span> <br />


                <div class="d-flex justify-content-end">
                    <input type="submit" class="btn btn-success text-white" value="Change" />
                    <a type="button" class="btn btn-dark text-white ms-2" value="Back" asp-action="Dashboard"> Back</a>
                </div>


            </form>
        </div>
    </div>
</div>
